:root {
	--main-color: #F37711;
	--text-color: #fff;
	--red-color: red;
	--background-color: #121212;
	--background-light-color: #242323;
	--background-gray: gray;
	--linear-gradient: linear-gradient(89deg, #ff4162 0%, #ffa748 100%);
	--linear-gradient-reverse: linear-gradient(89deg, #ffa748 0%, #ff4162 100%);
}

* {
	box-sizing: border-box
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 300px;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	background-color: var(--background-color);
	border-bottom: 1px solid var(--main-color);
}

.logo-container {
	text-align: center;
	flex-grow: 1;
}

.logo {
	max-width: 200px;
	padding: 0px 20px 0px 20px;
}

.burger-menu {
	display: none;
	color: var(--main-color);
	font-size: 30px;
	cursor: pointer;
	min-width: 26px;
}

.show-menu {
	display: flex !important;
}

.menu-nav {
	flex-grow: 1;
}

.menu-links {
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-link {
	font-size: larger;
	text-decoration: none;
	color: var(--text-color);
	margin: 0 10px;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
}

.menu-link-active {
	font-size: larger;
	text-decoration: none;
	color: orange;
	margin: 0 10px;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
}

.menu-link:hover {
	color: var(--main-color);
}

.header-social {
	flex-grow: 1;
	text-align: center;
}

.social-link {
	padding: 12px;
	cursor: pointer;
}

.social-link:hover {
	color: var(--main-color);
}

.slider-section {
	height: 600px;
	width: 100%;
	background-color: var(--background-gray);
}

.slideshow-container {
	height: 100%;
	position: relative;
	margin: auto;
	background-color: var(--background-color);
}

.fade {
	animation-name: fade;
	animation-duration: 1.4s;
}

.slideshow-item {
	display: none;
	height: 100%;
}

.slideshow-item img {
	height: 100%;
	object-fit: cover;
}

.slideshow-item-description {
	height: 100%;
	width: 500px;
	color: var(--text-color);
	font-size: 14px;
	padding: 370px 0px 0px 30px;
	position: absolute;
	top: 0;
}

.slideshow-item-description-container {
	background-color: #00000075;
	padding: 10px;
	border-radius: 10px;
}

.slideshow-item-description-container a {
	text-decoration: none;
}

.movie-title {
	font-size: 45px;
	font-weight: 900;
}

.movie-info {
	color: var(--red-color);
	font-size: 16px;
	font-weight: 900;
}

.movie-description {
	font-size: 16px;
}

.movie-read-more {
	background: var(--linear-gradient);
	border: none;
	font-size: 15px;
	color: var(--text-color);
	padding: 10px;
	border-radius: 10px;
	font-weight: 600;
	display: block;
	margin: 10px 0px;
	cursor: pointer;
}

.movie-read-more:hover {
	background: var(--linear-gradient-reverse);
}

.slider-batman {
	width: 100%;
	object-position: 55% 40%;
}

.slider-maverick {
	width: 100%;
	object-position: 70% 55%;
}

.slider-interstellar {
	width: 100%;
	object-position: 90% 55%;
}

.back-button, .forward-button {
	cursor: pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: -23px;
	padding: 17px;
	color: var(--main-color);
	font-weight: bold;
	font-size: 19px;
	transition: 0.4s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}

.forward-button {
	right: 0;
	border-radius: 4px 0 0 4px;
}

.back-button:hover, .forward-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-dots-container {
	text-align: center;
	top: 96%;
	width: 100%;
	position: absolute;
}

.slideshow-dot {
	cursor: pointer;
	height: 16px;
	width: 16px;
	margin: 0 3px;
	background-color: var(--text-color);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
}

.slideshow-enabled, .slideshow-dot:hover {
	background-color: var(--main-color);
}

.featured-movies-section {
	padding: 20px;
}

.section-header h2::after {
	content: '';
	height: 1px;
	width: 50%;
	display: inline-grid;
	margin-left: 20px;
	position: relative;
	bottom: 9px;
	background: #f1f1f1;
}

.section-header-title {
	text-align: center;
}

.featured-movies-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.featured-movie {
	transition: transform .2s;
	text-decoration: none;
	color: inherit;
}

.featured-movie-caption {
	text-align: center;
	background-color: var(--background-light-color);
	margin-bottom: 10px;
}

.featured-movie-caption-title {
	font-size: 17px;
	font-weight: 900;
	margin: 10px;
}

.featured-movie:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.featured-movie:hover > .featured-movie-caption > .featured-movie-caption-title {
	color: var(--main-color);
}

.featured-movie:hover > .featured-movie-caption > .featured-movie-caption-button {
	cursor: pointer;
	background: var(--linear-gradient-reverse);
}

.featured-movie-image {
	width: 100%;
}

.featured-movie-caption-star {
	color: var(--main-color);
}

.featured-movie-caption-button {
	background: var(--linear-gradient);
	border: none;
	font-size: 15px;
	color: var(--text-color);
	padding: 8px;
	border-radius: 10px;
	font-weight: 600;
	margin: 10px 0px;
	width: 80%;
}

.latest-popular-section {
	padding: 0 20px;
}

.latest-popular-two-columns {
	display: flex;
	margin-bottom: 10px;
}

.popular-movies {
	display: flex;
	flex-wrap: wrap;
}

.popular-movie {
	transition: transform .2s;
	text-decoration: none;
	color: inherit;
}

.popular-movie-caption {
	background-color: var(--background-light-color);
	margin-bottom: 10px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}

.popular-movie-caption-title {
	font-size: 17px;
	font-weight: 900;
}

.popular-movie:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.popular-movie:hover > .popular-movie-caption > .popular-movie-caption-title {
	color: var(--main-color);
}

.popular-movie-image {
	width: 100%;
	display: block;
}

.latest-popular-actors-section {
	max-width: 300px;
}

.actors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}

.actor {
	background-color: var(--background-light-color);
	border: 3px solid var(--background-color);
	min-width: 255px;
	display: flex;
	transition: transform .2s;
	text-decoration: none;
	color: inherit;
}

.actor-caption {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
	min-width: 200px;
	line-height: 30px;
	width: 100%;
}

.actor-caption-title {
	font-size: 17px;
	font-weight: 900;
	margin: 10px;
}

.actor:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.actor:hover > .actor-caption > .actor-caption-title {
	color: var(--main-color);
}

.actor-image {
	height: 81px;
	width: 81px;
	margin-left: -2px;
}

.cookie-notification {
	position: fixed;
	right: 5px;
	bottom: 10px;
	background-color: var(--background-light-color);
	border: 1px solid black;
	border-radius: 5px;
	min-width: 300px;
	display: none;
}

.cookie-container {
	padding: 0px 10px 10px 10px;
	min-width: 300px;
}

.cookie-description {
	margin-bottom: 2px;
}

.cookie-buttons-container {
	text-align: right;
}

.cookie-button-close {
	background: var(--linear-gradient);
	border: none;
	color: var(--text-color);
	padding: 10px;
	border-radius: 10px;
	font-weight: 600;
	margin: 10px 0px;
	cursor: pointer;
	min-width: 110px;
	margin: 6px;
}

.cookie-button-ok {
	background: var(--linear-gradient-reverse);
	border: none;
	color: var(--text-color);
	padding: 10px;
	border-radius: 10px;
	font-weight: 600;
	margin: 10px 0px;
	cursor: pointer;
	min-width: 110px;
	margin: 6px;
}

.footer {
	display: flex;
	flex-direction: column;
	background-color: #333;
	color: var(--text-color);
	padding: 20px;
}

.footer-columns {
	display: flex;
	flex-wrap: wrap;
}

.footer-column {
	padding: 5px 10px !important;
}

.footer-item-container {
	background-color: var(--background-light-color);
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	height: 100%;
}

.footer-item-container h2 {
	margin: 0px;
}

.footer-item-container p {
	color: var(--text-color);
	margin: 25px 10px 10px 10px;
}

.subscribe-form {
	position: relative;
	margin: 30px 0 20px;
}

.subscribe-input {
	border: 0;
	border-radius: 10px;
	font-size: 14px;
	padding: 12px 25px;
	width: 100%;
}

.subscribe-button {
	background: var(--linear-gradient);
	border: 0;
	color: var(--text-color);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 14px;
	padding: 12px 25px;
	position: absolute;
	top: 0;
	right: -1px;
	cursor: pointer;
}

.subscribe-button:hover {
	background: var(--linear-gradient-reverse);
}

#successully-subscribed {
	margin: 0;
	color: green;
	display: none;
}

.footer-usefull-links {
	list-style: none;
	margin: 0;
	padding: 15px;
}


.footer-usefull-links a {
	text-decoration: none;
	color: var(--background-gray);
	font-size: 25px;
	padding: 10px 20px 20px 20px;
}

.footer-usefull-links li a:hover {
	color: var(--main-color);
}

.footer-social-links a:hover {
	color: var(--main-color);
}

.footer-contact-us-container {
	margin: 10px 0 0 0;
}

.contact-us-input {
	border: 0;
	border-radius: 10px;
	font-size: 14px;
	padding: 12px 25px;
	width: 100%;
}

.footer-contact-us-textarea {
	padding: 10px;
	border-radius: 10px;
	min-width: 100%;
	max-width: 100%;
}

.footer-contact-us-button {
	background: var(--linear-gradient);
	border: 0;
	border-radius: 10px;
	color: var(--text-color);
	font-size: 14px;
	margin-top: 5px;
	padding: 8px 25px;
	cursor: pointer;
}

.footer-contact-us-button:hover {
	background: var(--linear-gradient-reverse);
}

#message-sent {
	margin: 10px;
	color: green;
	display: none;
}

.footer-bottom {
	text-align: center;
}

.copyright {
	font-size: 14px;
}

.copyright-title {
	text-decoration: none;
	color: var(--text-color);
}

.copyright-author {
	text-decoration: none;
	color: var(--text-color);
}

.copyright-title:hover {
	color: var(--main-color);
}

.copyright-author:hover {
	color: var(--main-color);
}

.movies-section {
	padding: 10px 100px;
}

.movies-section-header-title {
	margin: 10px 0px;
	font-size: 33px;
}

.movies-filters, .actors-filters {
	padding: 5px 0px;
	display: flex;
}

.section-header > .movies-section-header-title::after {
	display: none;
}

.movies {
	display: flex;
	flex-wrap: wrap;
}

.movie {
	transition: transform .2s;
	text-decoration: none;
	color: inherit;
}

.movie-caption {
	background-color: var(--background-light-color);
	margin-bottom: 10px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}

.movie-caption-title {
	font-size: 15px;
	font-weight: 900;
}

.movie:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.movie:hover > .movie-caption > .movie-caption-title {
	color: var(--main-color);
}

.movie-image {
	width: 100%;
	display: block;
}

.movies-filters-container, .actors-filters-container {
    display: inline-block;
}

.movies-filter-dropdown {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.movies-filter-submit {
    float: left;
    margin-bottom: 10px;
}

.movies-filter-dropdown-button {
    background: var(--background-gray);
    border: none;
    padding: 0 28px;
    height: 35px;
    border-radius: 5px;
    color: var(--text-color);
	padding: 0 16px;
    height: 33px;
    font-size: 13px;
	cursor: pointer;
}

.movies-filter-dropdown-button:hover {
    background: var(--background-light-color);
}

.movies-filter-submit-button {
    background: var(--linear-gradient);
    border: none;
    padding: 0 28px;
    height: 35px;
    border-radius: 5px;
    color: #343a40;
	padding: 0 16px;
    height: 33px;
    font-size: 16px;
	cursor: pointer;
}

.movies-filter-submit-button:hover {
    background: var(--linear-gradient-reverse);
}

.filter-dropdown {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #444;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.movies-filters-container .movies-filter-dropdown .filter-dropdown {
    margin-top: 5px;
    font-size: 18px;
    background: var(--background-gray);
    padding: 20px;
    border-radius: 10px;
	color: var(--text-color);
}

.actors-filters-container .movies-filter-dropdown .filter-dropdown {
    margin-top: 5px;
    font-size: 18px;
    background: var(--background-gray);
    padding: 20px;
    border-radius: 10px;
	color: var(--text-color);
}

.movies-pagination {
	display: flex;
	justify-content: center;
}

.movies-pagination > ul {
	padding-left: 0px;
	margin: 5px 0px;
}

.movies-pagination-container {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 10px;
	padding-left: 0px;
}
.movies-pagination-container li {
	display: inline;
	text-align: center;
}

.movies-pagination-container a {
	float: left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #fff;
	margin-left: -1px;
	border: 1px solid transparent;
	line-height: 1.5;
}

.movies-pagination-ul a {
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 27px;
	border-radius: 100%;
}

.movies-pagination-ul a:hover {
	background-color: var(--main-color);
}

.movies-pagination-ul a.movies-pagination-active, .movies-pagination-ul a:active {
	background-color: var(--main-color);
}

.movie-content-section, .movie-cast-section, .similar-movies-section {
	padding: 20px 200px 0px 200px;
	min-width: 305px;
}

.movie-title > span {
	font-size: 20px;
	font-weight: 300;
	margin-left: 10px;
}

.movie-title-rating {
	display: flex;
}

.movie-title-rating > .movie-title {
	width: 70%;
}

.movie-rating {
	text-align: right;
	font-size: 20px;
	width: 30%;
}

.imdb-rating-star {
	margin-right: 10px;
	font-size: 25px;
	color: orange;
}

.movie-rating > span {
	font-size: 30px;
	font-weight: 900;
}

.movie-poster-trailer {
	display: flex;
	max-height: 500px;
}

.movie-poster-trailer > img {
	width: 25%;
	padding: 10px;
}

.movie-trailer {
	width: 75%;
	padding: 10px;
}

.movie-section-title {
	border-left: 2px solid orange;
	padding-left: 5px;
	font-size: 30px;
}

.movie-plot-container {
	padding: 0px 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid hsla(0,0%,100%,0.2);
}

.movie-plot {
	font-size: 20px;
}

.movie-details-container {
	padding: 20px 20px;
	border-bottom: 1px solid hsla(0,0%,100%,0.2);
}

.movie-details-title {
	font-weight: 900;
	font-size: 20px;
}

.movie-details {
	font-size: 20px;
	margin-left: 20px;
	text-decoration: none;
	color: #5799ef
}

.movie-details:hover {
	text-decoration: underline;
}

.movie-cast-container > .actors {
	overflow-y: unset;
}

.movies-search-container {
	text-align: right;
	flex-grow: 100;
}

.movies-search {
	display: block;
}

.movies-search-form {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.movies-search-icon {
	position: absolute;
	line-height: 32px;
	margin-left: 10px;
}

.movies-search-input {
	border-radius: 0.3rem;
	outline: 0;
	font-weight: 300;
	background: var(--background-gray);
	border: none;
	color: var(--text-color);
	padding: 0 16px;
	height: 33px;
	font-size: 16px;
	cursor: pointer;
	width: 260px;
	padding-left: 40px;
}


/* Custom Media Queries */
@media (max-width: 400px) {
	.subscribe-input {
		font-size: 10px;
		padding: 10px 10px;
	}

	.subscribe-button {
		font-size: 10px;
		padding: 10px 10px;
	}

	.contact-us-input {
		font-size: 10px;
		padding: 10px 10px;
	}

	.footer-contact-us-textarea {
		font-size: 10px;
	}
}

@media (max-width: 550px) {
	.slideshow-item-description {
		height: 100%;
		width: auto;
		color: var(--text-color);
		font-size: 14px;
		padding: 350px 0px 0px 0px;
		position: absolute;
		top: 0;
	}

	.movie-title {
		font-size: 28px;
	}

	.section-header h2::after {
		content: '';
		height: 1px;
		width: 70%;
		display: inline-grid;
		margin-left: 0px;
		position: relative;
		bottom: 9px;
		background: #f1f1f1;
	}

	.movie-title > span {
		font-size: 10px;
    	font-weight: 300;
		margin-left: 0px;
	}

	.movie-poster-trailer {
		display: block;
		max-height: unset;
	}

	.movie-poster-trailer > img {
		width: 100%;
		padding: 0px;
	}

	.movie-trailer {
		width: 100%;
		padding: 10px 0px;
		height: 300px;
	}

	.movie-plot {
		font-size: 15px;
	}

	.movie-details-title {
		display: block;
	}

	.movie-plot-container {
		padding: 0px 0px 20px 0px;
	}

	.movies-filters-container, .actors-filters-container {
		flex-wrap: wrap;
	}

	.movies-filter-dropdown {
		width: 50% !important;
	}

	.movies-filter-dropdown-2-col {
		flex-grow: 100;
		width: unset !important;
		margin-right: 0;
	}
}

@media (max-width: 800px) {
	.burger-menu {
		display: block;
		float: right;
		margin-right: 20px;
	}

	.menu-nav {
		flex-grow: 0;
	}

	.menu-links {
		position: absolute;
		top: 0;
		background-color: var(--background-color);
		line-height: 30px;
		margin-top: 80px;
		z-index: 1;
		left: 0;
		flex-direction: column;
		width: 100%;
		align-items: center;
		display: none;
	}

	.menu-item {
		padding: 4px;
		text-align: center;
	}

	.featured-movie-caption-title {
		font-size: 14px;
	}

	.popular-movie-caption-title {
		font-size: 14px;
	}

	.cookie-buttons-container {
		text-align: center;
	}

	.cookie-notification {
		left: 5px;
	}

	.movie-caption-title {
		font-size: 14px;
	}

	.movies-section {
		padding: 10px 20px;
	}

	.movie-title-rating {
		display: block;
	}

	.movie-title-rating > .movie-title {
		width: 100%;
	}

	.movie-rating {
		text-align: left;
		font-size: 20px;
		width: 100%;
		display: flex;
	}

	.imdb-rating-star {
		margin-right: 5px;
		font-size: 15px;
		color: orange;
		margin-left: 20px;
		line-height: 25px;
	}

	.movie-rating > span {
		font-size: 20px;
		font-weight: 900;
	}
}

@media (max-width: 1100px) {
	.header-social {
		display: none;
	}

	.latest-popular-two-columns {
		display: block;
	}

	.latest-popular-actors-section {
		max-width: unset;
	}

	.actors {
		overflow: unset;
	}

	.actor {
		width: 30%
	}

	.actor-caption {
		min-width: unset;
	}

	.movies-filters, .actors-filters {
		display: block;
	}

	.movies-search-container {
		text-align: left;
		padding-bottom: 10px;
	}

	.movies-search-input {
		width: 100%;
	}

	.movies-filters-container, .actors-filters-container {
		display: flex;
	}

	.actors-filters-container > .movies-filter-dropdown {
		width: 50% !important;
	}

	.movies-filter-dropdown {
		width: 25%;
	}
	
	.movies-filter-dropdown-button {
		width: 100%;
	}

	.movies-filter-submit {
		flex-grow: 100;
	}

	.movies-filter-submit-button {
		width: 100%;
	}
}

@media (max-width: 1300px) {
	.popular-movie-caption-title {
		font-size: 15px;
	}

	.movie-caption-title {
		font-size: 13px;
	}

	.movie-content-section, .movie-cast-section, .similar-movies-section {
		padding: 20px 30px 0px 30px;
	}
}


/* Flexbox Media Queries */
@media (min-width: 992px) {
	.featured-movie-flexbox, .popular-movie-flexbox {
		width: 16.666666666666666666667%;
		padding: 0px 2px;
	}

	.footer-flexbox, .footer-flexbox-last {
		width: 33.333333333333333333333%;
		padding: 0px 2px;
	}

	.movie-flexbox {
		width: 16.666666666666666666667%;
		padding: 0px 2px;
	}
}



@media (min-width: 768px) and (max-width: 991px) {
	.featured-movie-flexbox {
		width: 33.333333333333333333333%;
		padding: 0px 2px;
	}

	.actor-flexbox {
		width: 50%;
		padding: 0px 2px;
	}

	.popular-movie-flexbox, .movie-flexbox {
		width: 25%;
		padding: 0px 2px;
	}

	.footer-flexbox {
		width: 50%;
		padding: 0px 2px;
	}

	.footer-flexbox-last {
		width: 100%;
		padding: 0px 2px;
	}
}

@media (max-width: 767px) {
	.featured-movie-flexbox, .popular-movie-flexbox {
		width: 33.333333333333333333333%;
		padding: 0px 2px;
	}

	.actor-flexbox {
		width: 50%;
		padding: 0px 2px;
	}

	.footer-flexbox, .footer-flexbox-last {
		width: 100%;
		padding: 0px 2px;
	}

	.movie-flexbox {
		width: 25%;
		padding: 0px 2px;
	}
}

@media (max-width: 575px) {
	.featured-movie-flexbox, .popular-movie-flexbox {
		width: 50%;
		padding: 0px 2px;
	}

	.actor-flexbox {
		width: 100%;
		padding: 0px 2px;
	}

	.movie-flexbox {
		width: 33.33333333333333333%;
		padding: 0px 2px;
	}
}

@media (max-width: 450px) {
	.movie-flexbox {
		width: 50%;
		padding: 0px 2px;
	}
}

@media (min-width: 1150px) {
	.movie-flexbox {
		width: 12.5%;
		padding: 0px 2px;
	}
}


/* Fade Animation */
@-webkit-keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 2
	}
}

@keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 2
	}
}


/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.movies-search-container ::placeholder {
	color: var(--text-color);
	opacity: 1;
}
  
.movies-search-container :-ms-input-placeholder {
	color: var(--text-color);
}
  
.movies-search-container  ::-ms-input-placeholder {
	color: var(--text-color);
}

scrollbar-color: #888 #f1f1f1;
scrollbar-width: thin;